<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ex03 : Fifty shades of bic.</title>
</head>
<body>
    <h1>Ex03 : Fifty shades of bic.</h1>

    <table>
        <tr>
            <th>Black</th>
            <th>Red</th>
            <th>Blue</th>
            <th>Green</th>
        </tr>

        {% for row in shades %}
        <tr>
            <td style="height: 40px; width: 80px; background-color: {{ row.black }};"></td>
            <td style="height: 40px; width: 80px; background-color: {{ row.red }};"></td>
            <td style="height: 40px; width: 80px; background-color: {{ row.blue }};"></td>
            <td style="height: 40px; width: 80px; background-color: {{ row.green }};"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>